.container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 32px;
  margin-left: 32px;
}

.transaction-data {
  display: flex;
  flex-flow: row wrap;
}